<div class="card mb-4 shadow fade-in">
    <div class="card-header role-header text-white">
        <h4 class="my-0">Liens Administrateur</h4>
    </div>
    <div class="card-body">
        <ul class="list-unstyled">
            <li><i class="bi bi-person-plus"></i> <a class="nav-link d-inline" asp-controller="Admin" asp-action="InscriptionGerant">Inscrire un gérant de plan d'eau</a></li>
            <li><i class="bi bi-check2-circle"></i> <a class="nav-link d-inline" asp-controller="Admin" asp-action="ConfirmationEEE">Confirmer des EEE</a></li>
            <li><i class="bi bi-water"></i> <a class="nav-link d-inline" asp-controller="Admin" asp-action="Planseau">Plans d'eau</a></li>
            <li><i class="bi bi-bar-chart-line"></i> <a class="nav-link d-inline" asp-controller="Planeaux" asp-action="Create">Creation d'un plan d'eau</a></li>
            <li><i class="bi bi-journal-text"></i> <a class="nav-link d-inline" asp-controller="Admin" asp-action="FormationsCertifications">Formations et certifications</a></li>
        </ul>
    </div>
</div>
