
<div class="text-center">
    <h1 class="display-4">page pour voir les plans d'eau avec leurs stations de lavages</h1>

    <h2>devrait avoir une carte de tous les plans d'eau enregistree et acces a leurs stations de lavages, mises a l'eau et les EEE</h2>
</div>