@model PNE_core.Models.Planeau

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Planeau</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NiveauCouleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NiveauCouleur)
        </dd>
        <dt class = "col-sm-2">
            Emplacement
        </dt>
        <dd class = "col-sm-10">
            <div id="map" style="height: 400px;"></div>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPlanEau">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        @{
            var lat = Model.Emplacement?.Y ?? 45.4;
            var lng = Model.Emplacement?.X ?? -71.9;
        }
        var lat = @lat;
        var lng = @lng;
        
        var map = L.map('map').setView([lat, lng], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);
        
        var marker = L.marker([lat, lng]).addTo(map);
    </script>
}
