@using NuGet.Protocol;

@{
    List<string> roles = Context.Session.GetString("userRoles").FromJson<List<string>>();
}

<div class="text-center my-4">
    <h1 class="display-4">Page d'accueil du portail des utilisateurs connectés</h1>
</div>

<div class="container">

    @if (roles.Contains("admin"))
    {
        <div class="row mb-4">
            <h3 class="mb-3">Liens Administrateur</h3>
            <ul class="list-unstyled">
                <li><a class="nav-link" asp-controller="Admin" asp-action="InscriptionGerant">Inscrire un gérant de plan d'eau</a></li>
                <li><a class="nav-link" asp-controller="Admin" asp-action="ConfirmationEEE">Confirmer des EEE</a></li>
                <li><a class="nav-link" asp-controller="Admin" asp-action="Planseau">Plans d'eau</a></li>
                <li><a class="nav-link" asp-controller="Admin" asp-action="FormationsCertifications">Formations et certifications</a></li>
            </ul>
        </div>
    }

    @if (roles.Contains("chercheur"))
    {
        <div class="row mb-4">
            <h3 class="mb-3">Liens Chercheur</h3>
            <ul class="list-unstyled">
                <li><a class="nav-link" asp-controller="Chercheur" asp-action="PlanEau">Statistiques des plans d'eau</a></li>
                <li><a class="nav-link" asp-controller="Chercheur" asp-action="DeplacementsEmbarcations">Déplacements des embarcations</a></li>
            </ul>
        </div>
    }

    @if (roles.Contains("gerant"))
    {
        <div class="row">
            <h3 class="mb-3">Liens Gérant</h3>
            <ul class="list-unstyled">
                <li><a class="nav-link" asp-controller="Gerant" asp-action="InscriptionEmployes">Mes employés</a></li>
                <li><a class="nav-link" asp-controller="Gerant" asp-action="GestionPlanEau">Mon plan d'eau</a></li>
                <li>
                    <a class="nav-link" asp-controller="Gerant" asp-action="MiseAEau">Mise à l'eau</a>
                    @if (TempData["Erreur"] != null)
                    {
                        <div class="alert alert-danger mt-2">
                            @TempData["Erreur"]
                        </div>
                    }
                </li>
                <li><a class="nav-link" asp-controller="Gerant" asp-action="SignalisationEEE">Signaler une EEE</a></li>
                <li><a class="nav-link" asp-controller="Gerant" asp-action="Stats">Statistiques</a></li>
            </ul>
        </div>
    }

</div>
