@using NuGet.Protocol;

@{
    List<string> roles = Context.Session.GetString("userRoles").FromJson<List<string>>();
    string? userName = Context.Session.GetString("username");
}

<div class="container mt-4 fade-in">
    <div class="alert alert-info d-flex justify-content-between align-items-center flex-wrap gap-2">
        <span>Bienvenue, <strong>@userName</strong> !</span>

        <partial name="_RoleBadges" model="roles" />
    </div>

    <div class="text-center mb-5">
        <h1 class="display-4">Portail des utilisateurs connectés</h1>
    </div>

    @if (roles.Contains("admin"))
    {
        <partial name="_AdminLinks" />
    }

    @if (roles.Contains("chercheur"))
    {
        <partial name="_ChercheurLinks" />
    }

    @if (roles.Contains("gerant"))
    {
        <partial name="_GerantLinks" />
    }
</div>
