@{
    ViewData["Title"] = "Utilisez l'application mobile";
}

<div class="alert alert-info">
    <h3>Bienvenue sur le Passeport Nautique Estrie!</h3>
    <p>Votre compte est associé au rôle plaisancier. Veuillez utiliser notre application mobile pour accéder à toutes vos fonctionnalités.</p>
    <a class="btn btn-primary" href="https://play.google.com/store">Télécharger l'application mobile</a>
</div>
