
<div class="text-center">
    <h1 class="display-4">page pour montrer certaines statistiques du plan d'eau</h1>

    <h2>ex : utilisation de ses stations de lavages, d'ou viennent la plupart des embarcations (leurs lac precedent)...</h2>
</div>